* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: hotpink;
  font-size: 18px;
}

body{
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: flex-end;
  overflow: hidden;
}

html {
  height: 100%;
  background: url(https://unsplash.it/1000/?random)  no-repeat center center fixed;
  background-size: cover;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  background-color: #1496BB;
  font-size: 16px;
  color: whitesmoke;
}

li:hover, input:hover, button:hover {
  cursor: pointer;
}

input {
  width: 350px;
  height: 30px;
  font-size: 16px;
  color: #1496BB;
  font-weight: bolder;
  background-color: rgba(225, 229, 237, .8);
  border: none;
  text-align: center;
  border-radius: 3px;
}

input:focus{
  outline: none;
  border-bottom: 3px hotpink solid;
}

ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.hidden{
  display: none !important;
}

.invisible {
  visibility: hidden;
}
